@import url("./bootstrap/css/bootstrap.min.css");
@import url("./cards/cards.css");
@import url("./cards/cards-ie.css");
@import url("./cards/cards-ie9.css");

.playingCards {
    font-size: 2em;
}

.result {
    position: absolute;
    top: 40%;
    padding: 1% 20%;
    background: white ;
    opacity: 0.7;
    z-index: 100;
}

.result h1 {
    opacity: 1;
}